/* Define the spinning and color pulse animations */
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
    border-color: #5b5b5c; /* Initial border color */
  }
  100% {
    transform: rotate(0deg);
    border-color: #ececec; /* Final border color */
  }
}

@keyframes pulseColorAnimation {
  0% {
    border-color: #5b5b5c; /* Initial border color */
  }
  50% {
    border-color: #ffffff; /* Pulsing border color */
  }
  100% {
    border-color: #686769; /* Final border color */
  }
}

.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 0; /* Initially hidden */
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 0;
  left: auto;
  margin: auto;
  transition: opacity 10s; /* Smooth transition for opacity */
}

.solid-logo {
//  position: absolute;
  width: 650px; /* Set the width to a fixed size */
  height: 650px; /* Set the height to a fixed size */
  transform: translateX(-50%);
  opacity: 0; /* Initially hidden */
  z-index: 1;
  border: 5px solid #686769; /* Border color */
  border-radius: 50%; /* Rounded border */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
  animation: spinAnimation 10s linear infinite, pulseColorAnimation 2s infinite; /* Apply both animations */
}
