p{
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
}


.image{
  padding-top: 80px;
  padding-left: 40px;
  width: 65px; 
  height: auto; 
  filter: invert(100%); 
} 
.phone-image {
  position: relative;
  fill:#3dec97;
  top: 20%;
  left: 750px;
  width: 200px; 
  height: auto; 
  animation: magnifyAnimation 2s linear infinite; /* Adjust duration and timing function as needed */
}

@keyframes magnifyAnimation {
  from {
    transform: scale(1); 
  }
  to {
    transform: scale(1.5); 
  }
}


  